# Python telegram bot-
python-telegram-bot>=13.1
python-telegram-bot[socks]

# Graphing/data science library-
matplotlib~=3.3.0
pandas

# Progress bar for downloads-
tqdm~=4.48.0

# Scraping and parsing-
requests~=2.24.0
beautifulsoup4~=4.9.1
